.notey{
    color: rgb(240,240,240); 
    
}

.navbar{
    background-color: rgb(195, 92, 229);
    margin: 4px;
    padding: 4px;
}

.takey{
    color: rgb(195, 92, 229);
}


#addBtn{
    background-color: rgb(195, 92, 229);
    border-color: rgb(195, 92, 229);
}

.card-title{
    color: rgb(195, 92, 229);;
}

.youy{
   color:  rgb(195, 92, 229);
}
